* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
}
html {
    height: 100%;
}

/* -- Screen for smartphone --*/
@media (min-width:320px){
    section {
        padding-top: 8vh;
    }
    body {
        background-color: whitesmoke;
        font-size: 1rem;
    }
    #sub-body {
        display: flex;
        flex-wrap: wrap;
    }
    #wax {
        width: 100%;
        background-color: #ff6600;
        height: 60%;
        clip-path: polygon(100% 0%, 0% 0% , 0.00% 34.00%, 2.00% 34.28%, 4.00% 35.12%, 6.00% 36.49%, 8.00% 38.34%, 10.00% 40.60%, 12.00% 43.19%, 14.00% 46.02%, 16.00% 49.00%, 18.00% 52.01%, 20.00% 54.94%, 22.00% 57.71%, 24.00% 60.20%, 26.00% 62.33%, 28.00% 64.02%, 30.00% 65.22%, 32.00% 65.87%, 34.00% 65.97%, 36.00% 65.50%, 38.00% 64.48%, 40.00% 62.94%, 42.00% 60.95%, 44.00% 58.57%, 46.00% 55.89%, 48.00% 53.00%, 50.00% 50.00%, 52.00% 47.00%, 54.00% 44.11%, 56.00% 41.43%, 58.00% 39.05%, 60.00% 37.06%, 62.00% 35.52%, 64.00% 34.50%, 66.00% 34.03%, 68.00% 34.13%, 70.00% 34.78%, 72.00% 35.98%, 74.00% 37.67%, 76.00% 39.80%, 78.00% 42.29%, 80.00% 45.06%, 82.00% 47.99%, 84.00% 51.00%, 86.00% 53.98%, 88.00% 56.81%, 90.00% 59.40%, 92.00% 61.66%, 94.00% 63.51%, 96.00% 64.88%, 98.00% 65.72%, 100.00% 66.00%);
    }
    .error {
        width: 40%;
        height: 20%;
        opacity: 0;
    }
    /* -- Section one -- */
    #img-iam {
        width: 50%;
        height: 50%;
    }
    #p2-sec1 { 
        font-weight: 800;
        display: block;
    }
    .ico, #ico{
        width: 4vh;
        height: 4vh;
    }
    #sec1,#p2-sec1, #sec2-p {
        padding: 2vh;
    }
    #img_about {
        width: 5vh;
        height: 5vh;
    }
    #sec1{
        text-align: center;
        width: 90%;
        height: 70%;
        box-shadow:  4px 5px 27px -6px rgba(0,0,0,0.75);
        margin: auto;
        border-radius: 10% 100% 10% 100% / 87% 10% 85% 10%;
        max-height: 525px;
        position: relative;
        bottom: 5vh;
    }
    #btn_one {
        background-color: #ff6600;
        color: white;
        border: 0;
        width: 50%;
        height: 3vh;
        border-radius: 10px;
        margin: auto;
    }
    #form-modal {
        background-color: #ff6600;
        width: 100%;
        height: 25vh;
        color: whitesmoke;
        bottom: 95vh;
        position: relative;
        bottom: 38vh;
        opacity: 0;
        border-radius: 10% 100% 10% 100% / 87% 10% 85% 10%;
    }
    .img-exit {
        width: 25px;
        height: 25px;
        float: right;
        position: relative;
        bottom: 7vh;
    }
    #btn_one:hover {
        background-color: whitesmoke;
        border: 1px solid #ff6600;
        color: #ff6600;
    } 
    #form-main  > input::placeholder {
        color: #ff6600;
        text-align: center;
    }
    #form-main  > textarea::placeholder {
        color: #ff6600;
        text-align: center;
    } 
    input, textarea {
        border: 0;
    }
    textarea {
        height: 8vh;
    } 
    /* -- Footer -- */
    footer {
        width: 100%;    
        background-color: #ff6600;
        height: 10vh;
        clip-path: polygon(100% 100%, 0% 100% , 0.00% 29.00%, 2.00% 29.48%, 4.00% 30.89%, 6.00% 33.17%, 8.00% 36.21%, 10.00% 39.88%, 12.00% 44.01%, 14.00% 48.42%, 16.00% 52.89%, 18.00% 57.24%, 20.00% 61.25%, 22.00% 64.76%, 24.00% 67.59%, 26.00% 69.62%, 28.00% 70.76%, 30.00% 70.96%, 32.00% 70.20%, 34.00% 68.53%, 36.00% 66.01%, 38.00% 62.77%, 40.00% 58.94%, 42.00% 54.71%, 44.00% 50.26%, 46.00% 45.81%, 48.00% 41.54%, 50.00% 37.66%, 52.00% 34.34%, 54.00% 31.73%, 56.00% 29.95%, 58.00% 29.08%, 60.00% 29.17%, 62.00% 30.20%, 64.00% 32.13%, 66.00% 34.87%, 68.00% 38.31%, 70.00% 42.27%, 72.00% 46.58%, 74.00% 51.06%, 76.00% 55.48%, 78.00% 59.65%, 80.00% 63.39%, 82.00% 66.51%, 84.00% 68.89%, 86.00% 70.40%, 88.00% 70.99%, 90.00% 70.63%, 92.00% 69.32%, 94.00% 67.14%, 96.00% 64.18%, 98.00% 60.58%, 100.00% 56.49%);
    }
    /* -- Section Two -- */
    #sec2{
        text-align: center;
        box-shadow:  4px 5px 27px -6px rgba(0,0,0,0.75);
        width: 90%;
        height: 100%;
        margin: auto;
        padding: 3vh;
        border-radius: 10% 100% 10% 100% / 87% 10% 85% 10%;
    }
    .img-sec2 {
        width: 50%;
        height: 50%;
    }
    #p_about {
        padding: 3vh;
    }
    #img-iam2 {
        width: 80%;
        height: 80%;
    }
    /* -- Section Three -- */
    #sec3 {
        text-align: center;
        box-shadow:  4px 5px 27px -6px rgba(0,0,0,0.75);
        width: 90%;
        height: 100%;
        margin: auto;
        padding: 3vh;
        border-radius: 10% 100% 10% 100% / 87% 10% 85% 10%;
    }
    #text_about {
        background-color: #ff6600;
        color: whitesmoke;
        border-radius: 10% 100% 10% 100% / 87% 10% 85% 10%;
        width: 60%;
        margin: auto;   
    }
    #sec3 {
        padding: 2vh;
    }
    #linked, #whas, #gith, #correo, #maps, #phone {
        border: 1px solid #ff6600;
        border-radius: 10% 100% 10% 100% / 87% 10% 85% 10%;
    } 
    .ico-cuad {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2px;
    }
    /* -- Section Four -- */
    #sec4 {
        width: 90%;
        height: 100%;
        margin: auto;
        box-shadow:  4px 5px 27px -6px rgba(0,0,0,0.75);
        text-align: center;
        padding: 3vh;
        border-radius: 10% 100% 10% 100% / 87% 10% 85% 10%;
    }     
    .slide {
        width: 30vh;
        height: 35vh;
        margin: auto;
        background-size: contain;
        background-repeat: no-repeat;
        animation: slide-img 32s ease-in-out infinite;
        padding-top: 5vh;
    }
    #txt-sec4 {
        position: relative;
        bottom: 2vh;
        padding: 1vh;
    }
    @keyframes slide-img {
        0% {background-image: url(./img/css.png);}
        10% {background-image: url(./img/react.png);}
        20% {background-image: url(./img/mongo.png);}
        30% {background-image: url(./img/azure.png);}
        40% {background-image: url(./img/piton.png);}
        50% {background-image: url(./img/node.png);}
        60% {background-image: url(./img/sql.png);}
        70% {background-image: url(./img/powershell.png);}
        80% {background-image: url(./img/linux.png);}
        90% {background-image: url(./img/sql.png);}
        100% {background-image: url(./img/jwt35ng);}
    }   
    #txt-sec4 {
        background-color: #ff6600;
        color: whitesmoke;
        border-radius: 10% 100% 10% 100% / 87% 10% 85% 10%;
        width: 60%;
        margin: auto;      
    }
    
    #text_contact {
        background-color: #ff6600;
        color: whitesmoke;
        border-radius: 10% 100% 10% 100% / 87% 10% 85% 10%;
        width: 60%;
        margin: auto;
    }
    #form {
        background-color: #ff6600;
        color: whitesmoke;
        border-radius: 10% 100% 10% 100% / 87% 10% 85% 10%;
        width: 70%;
        height: 25vh;
        margin: auto;
        padding: 2vh;
    }
    textarea::placeholder {
        color: #ff6600;
        text-align: center;
    }
    input {
        border-radius: 10% 100% 10% 100% / 87% 10% 85% 10%;
    }
    input::placeholder {
        color: #ff6600;
        text-align: center;
    }
    #btn_contact2 {
        width: 50%;
        background-color: whitesmoke;
        color: #ff6600;
        border-radius: 5px;
        margin-top: 1vh;
    }
    #btn_contact2:hover {
        background-color: #ff6600;
        border: 1px solid whitesmoke;
        color: azure;
    }
     
}

@media (min-width:587px){
    section {
        padding-top: 8vh;
    }
    body {
        background-color: whitesmoke;
        font-size: 1rem;
    }
    #sub-body {
        display: flex;
        flex-wrap: wrap;
    }
    #wax {
        width: 100%;
        background-color: #ff6600;
        height: 60%;
        clip-path: polygon(100% 0%, 0% 0% , 0.00% 34.00%, 2.00% 34.28%, 4.00% 35.12%, 6.00% 36.49%, 8.00% 38.34%, 10.00% 40.60%, 12.00% 43.19%, 14.00% 46.02%, 16.00% 49.00%, 18.00% 52.01%, 20.00% 54.94%, 22.00% 57.71%, 24.00% 60.20%, 26.00% 62.33%, 28.00% 64.02%, 30.00% 65.22%, 32.00% 65.87%, 34.00% 65.97%, 36.00% 65.50%, 38.00% 64.48%, 40.00% 62.94%, 42.00% 60.95%, 44.00% 58.57%, 46.00% 55.89%, 48.00% 53.00%, 50.00% 50.00%, 52.00% 47.00%, 54.00% 44.11%, 56.00% 41.43%, 58.00% 39.05%, 60.00% 37.06%, 62.00% 35.52%, 64.00% 34.50%, 66.00% 34.03%, 68.00% 34.13%, 70.00% 34.78%, 72.00% 35.98%, 74.00% 37.67%, 76.00% 39.80%, 78.00% 42.29%, 80.00% 45.06%, 82.00% 47.99%, 84.00% 51.00%, 86.00% 53.98%, 88.00% 56.81%, 90.00% 59.40%, 92.00% 61.66%, 94.00% 63.51%, 96.00% 64.88%, 98.00% 65.72%, 100.00% 66.00%);
    }
    .error {
        width: 40%;
        height: 20%;
        opacity: 0;
    }
    /* -- Section one -- */
    #img-iam {
        width: 50%;
        height: 50%;
    }
    #p2-sec1 { 
        font-weight: 800;
        display: block;
    }
    .ico, #ico{
        width: 5vh;
        height: 5vh;
    }
    #sec1,#p2-sec1, #sec2-p {
        padding: 2vh;
    }
    #img_about {
        width: 5vh;
        height: 5vh;
    }
    #p-sec1 {
        width: 85%;
        margin: auto;
        padding: 1vh;
    }
    #sec1{
        text-align: center;
        width: 90%;
        height: 70%;
        box-shadow:  4px 5px 27px -6px rgba(0,0,0,0.75);
        margin: auto;
        border-radius: 10% 100% 10% 100% / 87% 10% 85% 10%;
        max-height: 525px;
        position: relative;
        bottom: 5vh;
    }
    #btn_one {
        background-color: #ff6600;
        color: white;
        border: 0;
        width: 35%;
        height: 4vh;
        border-radius: 10px;
        position: relative;
        bottom: 7vh;
        left: 13vh;
    }
    #form-modal {
        background-color: #ff6600;
        width: 100%;
        height: 25vh;
        color: whitesmoke;
        bottom: 95vh;
        position: relative;
        bottom: 38vh;
        opacity: 0;
        border-radius: 10% 100% 10% 100% / 87% 10% 85% 10%;
    }
    .img-exit {
        width: 25px;
        height: 25px;
        float: right;
        position: relative;
        bottom: 7vh;
    }
    #btn_one:hover {
        background-color: whitesmoke;
        border: 1px solid #ff6600;
        color: #ff6600;
    } 
    #form-main  > input::placeholder {
        color: #ff6600;
        text-align: center;
    }
    #form-main  > textarea::placeholder {
        color: #ff6600;
        text-align: center;
    } 
    input, textarea {
        border: 0;
    }
    textarea {
        height: 8vh;
    } 
    #cont {
        position: relative;
        right: 12vh;
        width: 80%;
    }
    #sec2-p {
        color: #ff6600;
        font-weight: bold;
    }
    /* -- Footer -- */
    footer {
        width: 100%;    
        background-color: #ff6600;
        height: 10vh;
        clip-path: polygon(100% 100%, 0% 100% , 0.00% 29.00%, 2.00% 29.48%, 4.00% 30.89%, 6.00% 33.17%, 8.00% 36.21%, 10.00% 39.88%, 12.00% 44.01%, 14.00% 48.42%, 16.00% 52.89%, 18.00% 57.24%, 20.00% 61.25%, 22.00% 64.76%, 24.00% 67.59%, 26.00% 69.62%, 28.00% 70.76%, 30.00% 70.96%, 32.00% 70.20%, 34.00% 68.53%, 36.00% 66.01%, 38.00% 62.77%, 40.00% 58.94%, 42.00% 54.71%, 44.00% 50.26%, 46.00% 45.81%, 48.00% 41.54%, 50.00% 37.66%, 52.00% 34.34%, 54.00% 31.73%, 56.00% 29.95%, 58.00% 29.08%, 60.00% 29.17%, 62.00% 30.20%, 64.00% 32.13%, 66.00% 34.87%, 68.00% 38.31%, 70.00% 42.27%, 72.00% 46.58%, 74.00% 51.06%, 76.00% 55.48%, 78.00% 59.65%, 80.00% 63.39%, 82.00% 66.51%, 84.00% 68.89%, 86.00% 70.40%, 88.00% 70.99%, 90.00% 70.63%, 92.00% 69.32%, 94.00% 67.14%, 96.00% 64.18%, 98.00% 60.58%, 100.00% 56.49%);
    }
    /* -- Section Two -- */
    #sec2{
        text-align: center;
        box-shadow:  4px 5px 27px -6px rgba(0,0,0,0.75);
        width: 90%;
        height: 100%;
        margin: auto;
        padding: 3vh;
        border-radius: 10% 100% 10% 100% / 87% 10% 85% 10%;
    }
    .img-sec2 {
        width: 50%;
        height: 50%;
    }
    #p_about {
        padding: 3vh;
    }
    #img-iam2 {
        width: 80%;
        height: 80%;
    }
    /* -- Section Three -- */
    #sec3 {
        text-align: center;
        box-shadow:  4px 5px 27px -6px rgba(0,0,0,0.75);
        width: 90%;
        height: 100%;
        margin: auto;
        padding: 3vh;
        border-radius: 10% 100% 10% 100% / 87% 10% 85% 10%;
    }
    #text_about {
        background-color: #ff6600;
        color: whitesmoke;
        border-radius: 10% 100% 10% 100% / 87% 10% 85% 10%;
        width: 60%;
        margin: auto;   
    }
    #sec3 {
        padding: 2vh;
    }
    #linked, #whas, #gith, #correo, #maps, #phone {
        border: 1px solid #ff6600;
        border-radius: 10% 100% 10% 100% / 87% 10% 85% 10%;
    } 
    .ico-cuad {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2px;
    }
    /* -- Section Four -- */
    #sec4 {
        width: 90%;
        height: 100%;
        margin: auto;
        box-shadow:  4px 5px 27px -6px rgba(0,0,0,0.75);
        text-align: center;
        padding: 3vh;
        border-radius: 10% 100% 10% 100% / 87% 10% 85% 10%;
    }     
    .slide {
        width: 30vh;
        height: 35vh;
        margin: auto;
        background-size: contain;
        background-repeat: no-repeat;
        animation: slide-img 32s ease-in-out infinite;
        padding-top: 5vh;
    }
    #txt-sec4 {
        position: relative;
        bottom: 2vh;
        padding: 1vh;
    }
    @keyframes slide-img {
        0% {background-image: url(./img/css.png);}
        10% {background-image: url(./img/react.png);}
        20% {background-image: url(./img/mongo.png);}
        30% {background-image: url(./img/azure.png);}
        40% {background-image: url(./img/piton.png);}
        50% {background-image: url(./img/node.png);}
        60% {background-image: url(./img/sql.png);}
        70% {background-image: url(./img/powershell.png);}
        80% {background-image: url(./img/linux.png);}
        90% {background-image: url(./img/sql.png);}
        100% {background-image: url(./img/jwt35ng);}
    }   
    #txt-sec4 {
        background-color: #ff6600;
        color: whitesmoke;
        border-radius: 10% 100% 10% 100% / 87% 10% 85% 10%;
        width: 60%;
        margin: auto;      
    }
    
    #text_contact {
        background-color: #ff6600;
        color: whitesmoke;
        border-radius: 10% 100% 10% 100% / 87% 10% 85% 10%;
        width: 60%;
        margin: auto;
    }
    #form {
        background-color: #ff6600;
        color: whitesmoke;
        border-radius: 10% 100% 10% 100% / 87% 10% 85% 10%;
        width: 70%;
        height: 25vh;
        margin: auto;
        padding: 2vh;
    }
    textarea::placeholder {
        color: #ff6600;
        text-align: center;
    }
    input {
        border-radius: 10% 100% 10% 100% / 87% 10% 85% 10%;
    }
    input::placeholder {
        color: #ff6600;
        text-align: center;
    }
    #btn_contact2 {
        width: 50%;
        background-color: whitesmoke;
        color: #ff6600;
        border-radius: 5px;
        margin-top: 1vh;
    }
    #btn_contact2:hover {
        background-color: #ff6600;
        border: 1px solid whitesmoke;
        color: azure;
    }
}
@media (min-height:934px) {
    section {
        padding-top: 8vh;
    }
    body {
        background-color: whitesmoke;
        font-size: 1rem;
    }
    #sub-body {
        display: flex;
        flex-wrap: wrap;
    }
    #wax {
        width: 100%;
        background-color: #ff6600;
        height: 60%;
        clip-path: polygon(100% 0%, 0% 0% , 0.00% 34.00%, 2.00% 34.28%, 4.00% 35.12%, 6.00% 36.49%, 8.00% 38.34%, 10.00% 40.60%, 12.00% 43.19%, 14.00% 46.02%, 16.00% 49.00%, 18.00% 52.01%, 20.00% 54.94%, 22.00% 57.71%, 24.00% 60.20%, 26.00% 62.33%, 28.00% 64.02%, 30.00% 65.22%, 32.00% 65.87%, 34.00% 65.97%, 36.00% 65.50%, 38.00% 64.48%, 40.00% 62.94%, 42.00% 60.95%, 44.00% 58.57%, 46.00% 55.89%, 48.00% 53.00%, 50.00% 50.00%, 52.00% 47.00%, 54.00% 44.11%, 56.00% 41.43%, 58.00% 39.05%, 60.00% 37.06%, 62.00% 35.52%, 64.00% 34.50%, 66.00% 34.03%, 68.00% 34.13%, 70.00% 34.78%, 72.00% 35.98%, 74.00% 37.67%, 76.00% 39.80%, 78.00% 42.29%, 80.00% 45.06%, 82.00% 47.99%, 84.00% 51.00%, 86.00% 53.98%, 88.00% 56.81%, 90.00% 59.40%, 92.00% 61.66%, 94.00% 63.51%, 96.00% 64.88%, 98.00% 65.72%, 100.00% 66.00%);
    }
    .error {
        width: 40%;
        height: 20%;
        opacity: 0;
    }
    /* -- Section one -- */
    #img-iam {
        width: 50%;
        height: 50%;
    }
    #p2-sec1 { 
        font-weight: 800;
        display: block;
    }
    .ico, #ico{
        width: 5vh;
        height: 5vh;
    }
    #sec1,#p2-sec1, #sec2-p {
        padding: 2vh;
    }
    #img_about {
        width: 5vh;
        height: 5vh;
    }
    #p-sec1 {
        width: 85%;
        margin: auto;
        padding: 1vh;
    }
    #sec1{
        text-align: center;
        width: 90%;
        height: 70%;
        box-shadow:  4px 5px 27px -6px rgba(0,0,0,0.75);
        margin: auto;
        border-radius: 10% 100% 10% 100% / 87% 10% 85% 10%;
        max-height: 525px;
        position: relative;
        bottom: 5vh;
    }
    #btn_one {
        background-color: #ff6600;
        color: white;
        border: 0;
        width: 35%;
        height: 4vh;
        border-radius: 10px;
        position: relative;
        bottom: 12vh;
        left: 13vh;
    }
    #form-modal {
        background-color: #ff6600;
        width: 100%;
        height: 25vh;
        color: whitesmoke;
        bottom: 95vh;
        position: relative;
        bottom: 38vh;
        opacity: 0;
        border-radius: 10% 100% 10% 100% / 87% 10% 85% 10%;
    }
    .img-exit {
        width: 25px;
        height: 25px;
        float: right;
        position: relative;
        bottom: 7vh;
    }
    #btn_one:hover {
        background-color: whitesmoke;
        border: 1px solid #ff6600;
        color: #ff6600;
    } 
    #form-main  > input::placeholder {
        color: #ff6600;
        text-align: center;
    }
    #form-main  > textarea::placeholder {
        color: #ff6600;
        text-align: center;
    } 
    input, textarea {
        border: 0;
    }
    textarea {
        height: 8vh;
    } 
    #cont {
        position: relative;
        right: 2vh;
        width: 65%;
    }
    #phone {
        opacity: 0;
    }
    #sec2-p {
        color: #ff6600;
        font-weight: bold;
    }
    /* -- Footer -- */
    footer {
        width: 100%;    
        background-color: #ff6600;
        height: 10vh;
        clip-path: polygon(100% 100%, 0% 100% , 0.00% 29.00%, 2.00% 29.48%, 4.00% 30.89%, 6.00% 33.17%, 8.00% 36.21%, 10.00% 39.88%, 12.00% 44.01%, 14.00% 48.42%, 16.00% 52.89%, 18.00% 57.24%, 20.00% 61.25%, 22.00% 64.76%, 24.00% 67.59%, 26.00% 69.62%, 28.00% 70.76%, 30.00% 70.96%, 32.00% 70.20%, 34.00% 68.53%, 36.00% 66.01%, 38.00% 62.77%, 40.00% 58.94%, 42.00% 54.71%, 44.00% 50.26%, 46.00% 45.81%, 48.00% 41.54%, 50.00% 37.66%, 52.00% 34.34%, 54.00% 31.73%, 56.00% 29.95%, 58.00% 29.08%, 60.00% 29.17%, 62.00% 30.20%, 64.00% 32.13%, 66.00% 34.87%, 68.00% 38.31%, 70.00% 42.27%, 72.00% 46.58%, 74.00% 51.06%, 76.00% 55.48%, 78.00% 59.65%, 80.00% 63.39%, 82.00% 66.51%, 84.00% 68.89%, 86.00% 70.40%, 88.00% 70.99%, 90.00% 70.63%, 92.00% 69.32%, 94.00% 67.14%, 96.00% 64.18%, 98.00% 60.58%, 100.00% 56.49%);
    }
    /* -- Section Two -- */
    #sec2{
        text-align: center;
        box-shadow:  4px 5px 27px -6px rgba(0,0,0,0.75);
        width: 90%;
        height: 100%;
        margin: auto;
        padding: 3vh;
        border-radius: 10% 100% 10% 100% / 87% 10% 85% 10%;
    }
    .img-sec2 {
        width: 50%;
        height: 50%;
    }
    #p_about {
        padding: 3vh;
    }
    #img-iam2 {
        width: 80%;
        height: 80%;
    }
    /* -- Section Three -- */
    #sec3 {
        text-align: center;
        box-shadow:  4px 5px 27px -6px rgba(0,0,0,0.75);
        width: 90%;
        height: 100%;
        margin: auto;
        padding: 3vh;
        border-radius: 10% 100% 10% 100% / 87% 10% 85% 10%;
    }
    #text_about {
        background-color: #ff6600;
        color: whitesmoke;
        border-radius: 10% 100% 10% 100% / 87% 10% 85% 10%;
        width: 60%;
        margin: auto;   
    }
    #sec3 {
        padding: 2vh;
    }
    #linked, #whas, #gith, #correo, #maps, #phone {
        border: 1px solid #ff6600;
        border-radius: 10% 100% 10% 100% / 87% 10% 85% 10%;
    } 
    .ico-cuad {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2px;
    }
    /* -- Section Four -- */
    #sec4 {
        width: 90%;
        height: 100%;
        margin: auto;
        box-shadow:  4px 5px 27px -6px rgba(0,0,0,0.75);
        text-align: center;
        padding: 3vh;
        border-radius: 10% 100% 10% 100% / 87% 10% 85% 10%;
    }     
    .slide {
        width: 30vh;
        height: 35vh;
        margin: auto;
        background-size: contain;
        background-repeat: no-repeat;
        animation: slide-img 32s ease-in-out infinite;
        padding-top: 5vh;
    }
    #txt-sec4 {
        position: relative;
        bottom: 2vh;
        padding: 1vh;
    }
    @keyframes slide-img {
        0% {background-image: url(./img/css.png);}
        10% {background-image: url(./img/react.png);}
        20% {background-image: url(./img/mongo.png);}
        30% {background-image: url(./img/azure.png);}
        40% {background-image: url(./img/piton.png);}
        50% {background-image: url(./img/node.png);}
        60% {background-image: url(./img/sql.png);}
        70% {background-image: url(./img/powershell.png);}
        80% {background-image: url(./img/linux.png);}
        90% {background-image: url(./img/sql.png);}
        100% {background-image: url(./img/jwt35ng);}
    }   
    #txt-sec4 {
        background-color: #ff6600;
        color: whitesmoke;
        border-radius: 10% 100% 10% 100% / 87% 10% 85% 10%;
        width: 60%;
        margin: auto;      
    }
    
    #text_contact {
        background-color: #ff6600;
        color: whitesmoke;
        border-radius: 10% 100% 10% 100% / 87% 10% 85% 10%;
        width: 60%;
        margin: auto;
    }
    #form {
        background-color: #ff6600;
        color: whitesmoke;
        border-radius: 10% 100% 10% 100% / 87% 10% 85% 10%;
        width: 70%;
        height: 25vh;
        margin: auto;
        padding: 2vh;
    }
    textarea::placeholder {
        color: #ff6600;
        text-align: center;
    }
    input {
        border-radius: 10% 100% 10% 100% / 87% 10% 85% 10%;
    }
    input::placeholder {
        color: #ff6600;
        text-align: center;
    }
    #btn_contact2 {
        width: 50%;
        background-color: whitesmoke;
        color: #ff6600;
        border-radius: 5px;
        margin-top: 1vh;
    }
    #btn_contact2:hover {
        background-color: #ff6600;
        border: 1px solid whitesmoke;
        color: azure;
    }
}