body{
    margin: 0;
    padding: 0;
    height: 2000px;
}
nav {
    width: 100%;
    height: 70px;
    border: 0;
    display: flex;
    position: fixed;
    z-index: 1000;
    background-color: #ec6a14;
}
nav ul li{
    float: right;
    list-style-type: none;
    border: 1px solid white;
    background-color: #ec6a14;
    margin: 5px;
    width: 100px;
    text-align: center;
    height: 26px;
    color: white;
    border-radius: 4px;
}
a li:hover {
    animation: delisiocin 0.8s linear infinite;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    color: #ec6a14;
}
nav ul {
    width: 100%;
}
a {
    text-decoration: none;
    color: black;
}
footer {
    width: 100%;
    height: 70px;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 1000000000;
    position: absolute;
    background-color: #ec6a14;
}
section {
    padding: 5px; 
    display: grid;
    margin-bottom: 90px;
}
#ico {
    width: 30px;
    height: 30px;
}
#sub-body{
    top: 70px;
    position: relative;
    z-index: 1;
}
.git {
    height: 70px;
}
#img-iam {
    width: 420px;
    height: 420px;
    position: relative;
}
#img-iam2 {
    width: 498px;
    height: 518px;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}
#img_about {
    width: 35px;
    height: 35px;
    margin: 10px;
} 
#sec1, #sec2, #sec3, #sec4 {
    height: 520px;
    border-top: 1px solid #f0efef;
    width: 1080px;
    margin: auto;
    border:1px solid #ec6a14;
    border-radius: 8px;
    background-color: white;
}
#sec1 {
    position: relative;  
    margin-top: 90px;  
    display: grid;
    grid-template-rows: repeat(4,1fr);
    grid-template-columns: repeat(7,1fr);
}
#html, #css, #js, #node, #react {
    height: 20%;
    display: flex;
    float: left;
    margin: 15px;
}
#phone, #maps, #correo {
    display: flex;
    float: left;
}
#img-iam, #p2-sec1, #p-sec1 {
    position: relative;
    margin-top: 60px;
}
#sec4{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#name {
    color: #ec6a14;
    font-weight: bold;
}
#btn_one {
    width: 100px;
    height: 40px;
    grid-column-start: 2;
    grid-row-start: 2;
    position: relative;
    bottom: 50px;
    animation: delisiocin 0.8s linear infinite;
    border: 0;
    border-radius: 5px;
    background-color: #ec6a14;
    color: white;
}
#btn_one:hover {
    background-color: white;
    color: salmon;
    border: 1px solid #ec6a14;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#p-sec1 {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    position: relative;
    bottom: 300px;
    padding: 5px;
    line-height: 26px;
}
#p2-sec1 {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    font-size: 29px;
}
#sec2 {
    display: grid;
    grid-template-rows: repeat(4,1fr);
    grid-template-columns: repeat(7,1fr);
}
#p_about {
    grid-column-start: 5;
    grid-column-end: 7;
    position: relative;
    left: 40px;
    bottom: 89px;
    font-size: 20px;
    font-weight: lighter;
    width: 420px;
}
#git, #link, #gmail {
    margin: 5px;
}
#text_about {
    grid-row-start: 1;
    grid-column-start: 6;
    grid-column-end: 7;
    position: relative;
    right: 40px;
}
#sec3 {
    display: grid;
    grid-template-rows: repeat(4,1fr);
    grid-template-columns: repeat(7,1fr);
}
#text_contact {
    grid-column-start: 4;
    grid-column-end: 5;
}
#phone {
    grid-column-start: 3;
    grid-row-start: 2;
}
#maps {
    grid-column-start: 3;
    grid-row-start: 3;
}
#correo {
    grid-column-start: 3;
    grid-row-start: 4;
}
#text_co {
   position: relative;
   top: 40px;
}
#btn_contact2 {
    width: 100px;
    height: 30px;
    position: relative;
    grid-column-start: 5;
    grid-row-start: 3;
    animation: delisiocin 0.9s linear infinite;
    border-radius: 5px;
    border: 0;
    background-color: #ec6a14;
    color: whitesmoke;
}
#btn_contact2:hover {
    background-color: white;
    color: #ec6a14;
    border: 1px solid #ec6a14;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#phone, #maps, #correo {
    bottom: 50px;
    position: relative;
}
#sec4 {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(4,1fr);
}
#html, #css, #react {
    grid-row-start: 3;
}
#html {
    grid-column-start: 2;
}
#css {
    grid-column-start: 3;
}
#js {
    grid-column-start: 4;
    grid-row-start: 2;
}
#node {
    grid-column-start: 3;
    grid-row-start: 2;
}
#react {
    grid-column-start: 4;
    grid-row-start: 3;
}
#mongoose {
    width: 70px;
    height: 50px;
}
#mongo {
    grid-column-start: 5;
    grid-row-start: 3;
}
#txt-sec4 {
    display: grid;
    grid-column-start: 4;
}
#img_main {
    width: 30px;
    height: 30px;
    display: flex;
    padding: 5px;
}
#cont {
    border: 1px solid salmon;
    width: 40px;
    height: 200px;
    border-radius: 8px;
    position: relative;
    top: 18px;
    right: 10px;
}
#sec2-p {
    border: 1px solid #ec6a14;
    height: 35px;
    width: 150px;
    position: relative;
    left: 31px;
    border-radius: 8px;
    top: 2px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 5px;
    color: #ec6a14;
}
.img-sec2 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;  
}
.img-1 {
    grid-column-start: 5;
}
.targets {
    opacity: 0;
}
.showObserver {
    opacity: 1;
    animation: animateObserver 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.css {
    width: 100px;
    height: 100px;
}
.ctc {
    border: 1px solid salmon;
    width: 50px;
    height: 210px;
    border-radius: 20px;
    position: relative;
    display: grid;
    justify-content: center;
    grid-row-start: 2;
    grid-column-start: 8;
    right: 20px;
    

}
@keyframes delisiocin {
    0% {
              transform: translate(0);
    }
    20% {
              transform: translate(-2px, 2px);
    }
    40% {
              transform: translate(-2px, -2px);
    }
    60% {
              transform: translate(2px, 2px);
    }
    80% {
              transform: translate(2px, -2px);
    }
    100% {
              transform: translate(0);
    }
  }
@keyframes animateObserver {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
  }
  @keyframes animateObserver {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
  }
  